<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Test handling of size changes</title>
	<style>
		.sized {
			border: 2px solid red;
			margin: 5px;
		}
		
		.sized > .sized > .sized {
			display: inline-block;
		}
	</style>
</head>
<body>
    <script data-dojo-config="async: true, isDebug: true" src="/dojo/dojo.js"></script>
    <script>
		require([
			'dojo/_base/declare',	'dojo/on',
			'SkFramework/component/DomComponent',	'SkFramework/component/Container',
			'SkFramework/component/_WithDomNode',
			'SkFramework/utils/binding',
			'put-selector/put',
			'dojo/domReady!'
		], function(
			declare,				on,
			DomComponent,							Container,
			WithDom,
			binding,
			put
		) {
			var SizedComponent = declare([Container, WithDom], {
				constructor: function() {
					this.addClass('sized');
					this._addComponents({
						sizeLabel: put('div'),
						add: put('button', "Add item")
					});
					this._bindComponents({
						sizeLabel: [
							new binding.ValueEvent(this, this, {
								sourceProp: 'height',
								method: this._displaySize
							}),
							new binding.ValueEvent(this, this, {
								sourceProp: 'width',
								method: this._displaySize
							})
						],
						add: new binding.Click(this._add, this, {
							method: function() {
								this.addChild(new SizedComponent());
							}
						})
					});
					this._placeComponents(['sizeLabel', 'add']);
				},
				
				_displaySize: function() {
					put(this._sizeLabel, { innerHTML: this.get('width') + "x" + this.get('height') });
				}
			});
			window.main = new SizedComponent({
				domNode: 'main'
			});
		});
	</script>
	<div id="main"></div>
</body>
</html>