<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Grid test</title>
	<link rel="stylesheet" href="../../../../dijit/themes/claro/claro.css">
	<style>
		.selected {
			background-color: blue;
		}
	</style>
	<script>

	curl = {
		packages: {
			curl: { path: '../../../../curl/src/curl/'},
			"put-selector": {path: "../../../../put-selector"},
			frb: {
				path: '../../../../frb',
				config: {
					moduleLoader: 'curl/loader/cjsm11'
				}
			},
			collections: {
				path: '../../../../collections',
				config: {
					moduleLoader: 'curl/loader/cjsm11'
				}
			},
			dojo : {path: "../../../../dojo"},
			dijit : {path: "../../../../dijit"},
			lodash : {path: "../../../../lodash"},
			compose: {path: "../../../../compose"},
			SkFramework: {path: "../../../../SkFramework"},
		},
		preloads: [
			'curl/shim/dojo16'
		]
	};

	</script>
</head>
<body class="claro">
	<script src="../../../../curl/src/curl.js"></script>
	<script>
		curl([
			"../Grid",
			"dojo/_base/declare",
			"SkFramework/component/DomComponent",
			"frb/bind",
			"SkFramework/components/form/Input",
		], function(Grid, declare, DomComponent, bind, Input){

			window.grid = new Grid({
			});
			document.body.appendChild(grid.render());
			grid.set('inDom');

			syv = {name: "Sylvain", age: 31, sexe: "M"};
			aur = {name: "Aurélie", age: 30, sexe:"F"};
			ant = {name: "Antonin", age: 2, sexe:"M"};
			leo = {name: "Léonie", age: 0, sexe:"F"};
			collection = [syv, aur, ant];


			grid.set("value", collection);
			config = [
				{label: "Nom", property: "name", renderer: Input},
				{label: "Sexe", property: "sexe"},
			];
			grid.set("config", config);

			// add column
			config.push({label: "Age", property: "age"});

			// add row
			collection.push(leo);

			// sort collection
			// collection.reverse();

			// sort columns
			// config.reverse();

			// select via a click

			// select programatically

		});
	</script>
</body>
</html>